@font-face {
    font-family: UTMAVO;
    src: url(../fonts/utm-avo.ttf);
}

// @font-face {
//     font-family: Montserrat;
//     src: url(../fonts/Montserrat-SemiBold.ttf);
// }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-track {
    background: #f1bdd3;
}

.fixel {
    border-bottom: solid thin #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background: linear-gradient(107.88deg, #fec2bc 6.53%, #df81b4 93.43%);
    .fixel-logo {
        &:focus {
            outline: none;
        }
        img {
            max-width: 165px;
            height: auto;
            &:focus {
                outline: none;
            }
        }
    }
    .nav-menu {
        ul {
            text-align: right;
            margin-bottom: 0px;
            li {
                display: inline-block;
                &:hover > ul {
                    margin-top: 3px;
                    visibility: visible;
                    opacity: 1;
                    transition: 0.3s;
                    transform: translateY(0px);                   
                }
                a {
                    padding: 30px 8px;
                    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serifma, Geneva, Verdana,
                        sans-serif;
                    display: block;
                    font-size: 14px;
                    position: relative;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    transition: 0.3s;
                    &::after {
                        position: absolute;
                        bottom: -2;
                        left: 0;
                        width: 0%;
                        display: block;
                        height: 2px;
                        background: #ffc5bc;
                        content: "";
                        transition: 0.3s;
                    }
                    &:hover {
                        text-decoration: none;
                        color: white;
                        outline: none;
                    }
                    &:hover::after {
                        width: 100%;
                        height: 2px;
                        transition: 0.3s;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                ul {
                    background: #ffc5bc;
                    position: absolute;
                    width: 200px;
                    z-index: 1;
                    text-align: left;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                    transform: rotateX(-90deg);
                    transform-origin: top;
                   
                    li {
                        width: 100%;
                        padding: 0;
                        &:last-child {
                            a::after {
                                content: none;
                            }
                        }
                        a {
                            color: #000;
                            padding: 8px;
                            background: #ffc5bc;
                            position: relative;
                            font-size: 13px;
                            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                            transition: 0.3s;
                            &::after {
                                left: 10px;
                                right: 10px;
                                height: 2px;
                                background: #f4b5ab;
                                width: unset !important;
                                display: inline-block;
                                content: "";
                                bottom: -2px;
                                position: absolute;
                                z-index: 1;
                            }
                            &:hover {
                                background: #df81b4;
                                color: #fff;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    .action {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .action-login {
            &:focus {
                outline: none;
            }
            img {
                max-width: 22px;
                max-height: 25px;
                &:focus {
                    outline: none;
                }
            }
        }
        .action-cart {
            &:focus {
                outline: none;
            }
            img {
                max-width: 22px;
                max-height: 25px;
                &:focus {
                    outline: none;
                }
            }
        }
        .count-card {
            position: absolute;
            top: 26px;
            display: inline-block;
            font-size: 13px;
            right: 3px;
            background: white;
            width: 20px;
            text-align: center;
            border-radius: 999px;
            height: 20px;
            line-height: 20px;
        }
    }
}

.nav-slider {
    position: relative;
    background: linear-gradient(107.88deg, #fec2bc 6.53%, #df81b4 93.43%);
    margin: 0px;
    border-bottom: 1px solid black;
    .tns-nav {
        margin: 0;
        text-align: center;
        width: 100%;
        left: 0;
        position: absolute;
        display: flex;
        bottom: 15px;
        justify-content: center;
        align-items: center;
        z-index: 1;
        button {
            background: transparent;
            min-height: 15px;
            width: 15px;
            border: solid thin #fff;
            padding: 0;
            margin: 0 3px;
            display: block;
            border-radius: 999px;
            &:focus {
                border: none;
                background: #fff;
                outline: none;
            }
        }
        .tns-nav-active {
            border: none;
            background: #fff;
            &:focus {
                border: none;
                background: #fff;
                outline: none;
            }
        }
    }
    .level {
        .wrap-item {
            max-width: 1170px;
            width: 100%;
            position: relative;
            margin: auto;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            margin-top: 110px;
            .img {
                position: relative;
                max-width: 451px;
                left: 0;
                img {
                    position: relative;
                    z-index: 2;
                    max-width: 398px;
                    /* max-height: 398px; */
                    margin: auto;
                    display: block;
                }
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    background: #ffe1dc;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
                    border-radius: 999px;
                    content: "";
                }
            }
            .wrap-content {
                width: 100%;
                text-align: right;
                padding-left: 15px;
                .title {
                    font-size: 50px;
                    font-family: Tahoma;
                    text-transform: uppercase;
                    line-height: 62px;
                    text-align: right;
                    color: #fff;
                    margin-bottom: -5px;
                    padding-top: 20px;
                }
                .wrap-text {
                    max-width: 610px;
                    margin-left: auto;
                    margin-bottom: 30px;
                    p {
                        text-align: left;
                        color: #fff;
                        font-size: 18px;
                        line-height: 28px;
                        font-family: UTMAVO;
                    }
                    .btn {
                        background: #ffc5bc;
                        text-transform: uppercase;
                        color: #fff;
                        max-width: 216px;
                        margin-left: auto;
                        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                        border-radius: 100px;
                        display: block;
                        padding: 15px 20px;
                        transition: 0.3s;
                        &:hover {
                            background: #ee9486;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
    .sameLevel {
        background-image: url("../images/sp2.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 658px;
        position: relative;
        .wrap-item {
            max-width: 1170px;
            position: relative;
            margin: auto;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            .btn {
                background: #ffc5bc;
                text-transform: uppercase;
                color: #fff;
                max-width: 216px;
                margin-left: auto;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
                border-radius: 100px;
                display: block;
                padding: 15px 64px;
                transition: 0.3s;
                position: absolute;
                right: 60px;
                &:hover {
                    background: #ee9486;
                    transition: 0.3s;
                }
            }
        }
    }
}

.information {
    margin: 50px 0 90px 0;
    .fadeInUp {
        .img {
            display: block;
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-repeat: no-repeat;
                content: "";
                z-index: 0;
                background-size: 80%;
                background-image: url("../images/cricle.png");
            }
            img {
                object-fit: contain;
                max-width: 367px;
                max-height: 366px;
                position: relative;
                z-index: 1;
                margin: 150px 0 0 50px;
            }
        }
    }
    .fadeInUp-two {
        .title {
            font-size: 40px;
            font-family: Tahoma;
            color: #bc516b;
            text-transform: uppercase;
            line-height: 47px;
            text-align: left;
            padding-top: 20px;
            margin-bottom: 10px;
        }
        .s-content {
            p {
                font-size: 18px;
                line-height: 28px;
                font-family: UTMAVO;
                text-align: justify;
                color: #495057;
                padding-bottom: 0;
            }
        }
        .btn {
            position: absolute;
            right: 0;
            .btn-main {
                min-width: 181px;
                display: inline-block;
                position: relative;
                height: 56px;
                line-height: 56px;
                text-align: center;
                font-size: 20px;
                border: 1px solid #f4b5ab;
                box-sizing: border-box;
                border-radius: 100px;
                color: #f4b5ab;
                margin-top: 25px;
                margin-right: 90px;
                right: 0;
                font-family: UTMAVO;
                &::before {
                    position: absolute;
                    height: 1px;
                    background: #f4b5ab;
                    content: "";
                    display: inline-block;
                    top: calc(50% - 1px);
                    width: 180%;
                    left: -205%;
                }
                &:hover {
                    text-decoration: none;
                    color: #fff;
                    background: #f4b5ab;
                }
            }
        }
    }
}

.certificate {
    margin: 140px 0 0 0;
    background-image: url("../images/banner-2.png");
    padding-bottom: 80px;
    .fadeInUp {
        .title {
            font-size: 39px;
            font-family:Tahoma;
            line-height: 47px;
            color: #bc516b;
            text-align: justify;
            padding: 90px 0 20px 0;
        }
        .s-content {
            p {
                font-size: 18px;
                line-height: 28px;
                font-family: UTMAVO;
                text-align: justify;
                color: #bc516b;
                padding-bottom: 0;
            }
        }
    }
    .fadeInUp-two {
        .img {
            margin-top: -70px;
            background-image: url("../images/bgnen.png");
            background-position: bottom left 10px;
            background-repeat: no-repeat;
            background-size: 365px;
            padding-bottom: 20px;
            padding-left: 20px;
            img {
                max-width: 391px;
                max-height: 450px;
                display: block;
                margin: auto;
            }
        }
    }
}

.feedback {
    margin: 70px 0 0 0;
    padding-bottom: 50px;
    .title {
        padding-top: 20px;
        line-height: 47px;
        font-size: 40px;
        color: #bc516b;
    }
    .wrap-slider-bot {
        .slick-slide {
            padding: 30px 15px 0 15px;
            &:focus {
                outline: none;
            }
        }
        .slick-prev {
            left: 0px;
            padding: 21px;
            border: 1px solid white;
            border-radius: 50%;
            z-index: 1;
            background: white;
            box-shadow: 0px 2px 3px 1px #0000002b;
            border: none;
            &::before {
                position: absolute;
                content: "«";
                top: 7px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                color: #000;
                border: none;
            }
            &:hover::before {
                color: #fff;
            }
            &:hover {
                background: #e793b6;
            }
        }
        .slick-next {
            right: 0px;
            padding: 21px;
            border: 1px solid white;
            border-radius: 50%;
            z-index: 1;
            background: white;
            box-shadow: 0px 2px 3px 1px #0000002b;
            border: none;
            &::before {
                position: absolute;
                content: "»";
                top: 7px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                color: #000;
            }
            &:hover {
                background: #e793b6;
                color: #fff;
            }
            &:hover::before {
                color: #fff;
            }
        }
        .slick-dots {
            bottom: -30px;
            .slick-active {
                background: #e792b6;
            }
            li {
                width: 15px;
                height: 15px;
                border-radius: 100%;
                border: 1px solid #e792b6;
                background: #fff;
                color: #fff;
                button::before {
                    content: unset;
                }
            }
        }
        .item {
            width: 360px;
            background: linear-gradient(107.88deg, #fec2bc 6.53%, #df81b4 93.43%);
            margin-right: 30px;
            .img {
                position: relative;
                display: block;
                padding-top: 70%;
                width: 100%;
                height: 100%;
                display: block;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: inherit;
                }
            }
            .text {
                padding: 10px 40px 20px 40px;
                height: 100%;
                display: block;
                p {
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 0;
                    text-transform: uppercase;
                    color: #bc516b;
                    text-align: left;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serifma;
                    padding-top: inherit;
                    padding-bottom: 10px;
                }
                .short-text {
                    text-align: justify;
                    font-size: 18px;
                    font-family: UTMAVO;
                    line-height: 25px;
                    color: #fff;
                    // max-height: 200px;
                    display: -webkit-box;
                    -webkit-line-clamp: 7; // số dòng muốn hiển thị
                    -webkit-box-orient: vertical;
                    text-overflow: ellipse;
                    overflow: hidden;
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
}

.expert {
    background-image: url("../images/banner-x.png");
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 0;
    .expert-img {
        .img {
            position: relative;
            display: block;
            margin-top: -60px;
            &::before {
                position: absolute;
                top: 5%;
                left: 5%;
                right: 5%;
                bottom: 5%;
                z-index: 1;
                border-radius: 999px;
                border: solid 5px #fff;
                content: "";
                display: block;
            }
            &::after {
                position: absolute;
                top: 13%;
                left: 13%;
                right: 13%;
                bottom: 13%;
                z-index: 0;
                border-radius: 999px;
                background: #bc516b;
                content: "";
                display: block;
            }
            img {
                position: relative;
                top: -62px;
                left: 7px;
                z-index: 1;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .expert-title {
        .title {
            padding-top: 20px;
            font-size: 40px;
            line-height: 47px;
            font-family:Tahoma;
            text-align: center;
            color: white;
        }
        .s-content {
            p {
                font-size: 18px;
                line-height: 28px;
                font-family: UTMAVO;
                color: white;
                text-align: justify;
                span {
                    font-size: 18px;
                    line-height: 28px;
                    font-family: UTMAVO;
                    color: white;
                    text-align: justify;
                }
            }
        }
        .btn-main {
            min-width: 181px;
            display: inline-block;
            position: relative;
            height: 56px;
            line-height: 56px;
            text-align: center;
            font-size: 20px;
            border: 1px solid #f4b5ab;
            box-sizing: border-box;
            border-radius: 100px;
            color: #bc516b;
            &:hover {
                text-decoration: none;
                color: white;
                background: #f4b5ab;
            }
        }
    }
}

footer {
    background: linear-gradient(107.88deg, #fec2bc 6.53%, #df81b4 93.43%);
    margin: 0;
    border-top: 1px solid white;
    padding: 50px 0;
    .title {
        text-align: left;
        font-size: 20px;
        line-height: 23px;
        color: #495057;
        margin-bottom: 18px;
    }
    .contact {
        font-size: 16px;
        line-height: 28px;
        font-family: UTMAVO;
        margin-bottom: 8px;
        padding: 0;
        text-align: left;
        color: #495057;
        a {
            color: #495057;
            transition: 0.3s;
            &:hover {
                color: white;
                text-decoration: none;
                transition: 0.3s;
            }
        }
        i {
            padding-right: 5px;
        }
    }
    .social {
        .smoot {
            width: 40px;
            height: 40px;
            border-radius: 999px;
            border: solid thin #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: 16px;
            transition: 0.3s;
            &:hover {
                background: white;
                color: #0056b3;
                text-decoration: none;
                transition: 0.3s;
            }
        }
        .smoot-you {
            width: 40px;
            height: 40px;
            border-radius: 999px;
            border: solid thin #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: 0.3s;
            margin-right: 16px;
            &:hover {
                background: white;
                color: red;
                text-decoration: none;
                transition: 0.3s;
            }
        }
        .smoot-google {
            width: 40px;
            height: 40px;
            border-radius: 999px;
            border: solid thin #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: 16px;
            transition: 0.3s;
            &:hover {
                background: white;
                color: orange;
                text-decoration: none;
                transition: 0.3s;
            }
        }
    }
    ul {
        li {
            margin-bottom: 18px;
            a {
                font-family: UTMAVO;
                font-size: 16px;
                line-height: 28px;
                color: #495057;
                transition: 0.3s;
                &:hover {
                    color: white;
                    text-decoration: none;
                    transition: 0.3s;
                }
            }
        }
    }
    .logoMore {
        align-items: center;
        display: flex;
        .des-footer {
            font-size: 14px;
            font-family: UTMAVO;
            line-height: 20px;
            color: #495057;
        }
    }
    .imgMore {
        justify-content: space-between;
        align-items: center;
        .congThuong {
            max-width: 160px;
            height: auto;
        }
        .logo {
            max-width: 200px;
            height: auto;
        }
    }
}

.plugins {
    .social-bar {
        position: fixed;
        z-index: 0;
        bottom: 20%;
        display: flex;
        flex-direction: column;
        width: 50px;
        z-index: 999;
        height: 250px;
        right: 30px;
        justify-content: start;
        align-items: center;
        .moon {
            flex: 0 0 20%;
            width: 100%;
            margin-bottom: 10px;
            border: solid thin #ebebeb;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            display: flex;
            background: #fff;
            border-radius: 999px;
            font-size: 22px;
            text-align: center;
            color: #fff;
            border: solid thin transparent;
            transition: 0.3s;
            &:hover {
                box-shadow: 0px 4px 15px #ee1a4f;
                transition: 0.3s;
            }
        }
    }
}
