@mixin font_16 {
    font-size: 16px;
    line-height: 30px;
    display: block;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1570px;
    }
    header{
        .item {
            padding-left: 30px !important;
            .c-text {
                .title {
                    font-size: 34px;
                }
            }
        }
    }

}
@media (min-width: 1366px) and(max-width:1599px) {
    header {
        .item {
            padding-left: 184px !important;
            .c-text {
                .title {
                    font-size: 34px;
                }
            }
        }
        .nav {
            img{
                display: none;
            }
            ul {
                padding: 20px 0px 0px 70px !important;
                li {
                    a {
                        @include font_16();
                        padding: 5px 7px !important;
                    }
                }
            }
        }
    }
    .service {
        .title{
            font-size: 25px;
        }
        .s-content{
            p{
                font-size: 16px !important;
            }
        }
        .box{
            .item{
                .c-text{
                    p{
                        font-size: 18px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px) and (max-width: 1365px) {
    header {
        .item {
            padding-left: 60px !important;
            .c-text {
                .title {
                    font-size: 34px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            img{
                display: none;
            }
            ul {
                padding: 20px 0px 0px 70px !important;
                li {
                    a {
                        font-size: 14px;
                        padding: 5px 7px !important;
                    }
                }
            }
            .search {
                margin: 25px 0px 0px 7px !important;
            }
        }
    }
    .service {
        .title{
            font-size: 25px;
        }
        .s-content{
            p{
                font-size: 16px !important;
            }
        }
        .box{
            .item{
                .c-text{
                    p{
                        font-size: 18px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    header {
        .item {
            padding-left: 60px !important;
            .c-text {
                .title {
                    font-size: 34px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            position: relative;
            z-index: 1;
            ul {
               display: none;
            }
            .search {
                display: flex;
                position: absolute;
                z-index: 2;
                right: 65px;
                font-size: 20px;
                .icon-mobile{
                    display: block !important;
                }
            }
        }
    }
    .service {
        .title{
            font-size: 25px;
        }
        .s-content{
            p{
                font-size: 16px !important;
            }
        }
        .box{
            .item{
                .c-text{
                    p{
                        font-size: 18px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (min-width: 991px) and (max-width: 1023px) {
    .container {
        max-width: 970px;
    }
    header {
        .item {
            padding-left: 27px !important;
            .c-text {
                .title {
                    font-size: 34px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            position: relative;
            z-index: 1;
            img{
                display: none;
            }
            ul {
               display: none;
            }
            .search {
                display: flex;
                position: absolute;
                z-index: 2;
                right: 50px;
                font-size: 20px;
                .icon-mobile{
                    display: block !important;
                }
            }
        }
    }
    .service {
        .title{
            font-size: 25px;
        }
        .s-content{
            p{
                font-size: 16px !important;
            }
        }
        .box{
            .item{
                margin-top: 20px;
                .c-text{
                    p{
                        font-size: 18px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
/* --------Tablet-------- */
@media (min-width: 768px) and (max-width: 990px) {
    .container {
        max-width: 720px;
    }
    header {
        .item {
            padding-left: 40px !important;
            .c-text {
                .title {
                    font-size: 34px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            img{
                display: none;
            }
            position: relative;
            z-index: 1;
            ul {
               display: none;
            }
            .search {
                display: flex;
                position: absolute;
                z-index: 2;
                right: 65px;
                font-size: 20px;
                .icon-mobile{
                    display: block !important;
                }
            }
        }
    }
    .service {
        .title{
            font-size: 25px;
        }
        .s-content{
            p{
                font-size: 16px !important;
            }
        }
        .box{
            .item{
                margin-top: 20px;
                .c-text{
                    p{
                        font-size: 18px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
/* ---------Mobile-------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    header {
        height: 310px;
        .item {
            padding-left: 14px !important;
            position: absolute;
            .c-text {
                .title {
                    font-size: 30px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            img{
                display: none;
            }
            position: relative;
            z-index: 1;
            ul {
               display: none;
            }
            .search {
                display: flex;
                position: absolute;
                z-index: 2;
                right: 50px;
                font-size: 20px;
                color: green !important;
                .icon-mobile{
                    display: block !important;
                }
            }
        }
    }
    .service {
        .title{
            font-size: 23px;
        }
        .s-content{
            p{
                font-size: 14px !important;
            }
        }
        .box{
            .title{
                font-size: 20px;
            }
            .item{
                margin-top: 20px;
                .c-text{
                    p{
                        font-size: 16px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
    header {
        height: 310px;
        .item {
            padding-left: 19px !important;
            position: absolute;
            .logo{
                img{
                    max-width: 130px !important;
                }
            }
            .c-text {
                .title {
                    font-size: 25px;
                    line-height: 44px;
                }
            }
        }
        .nav {
            position: relative;
            z-index: 1;
            img{
                display: none;
            }
            ul {
               display: none;
            }
            .search {
                display: flex;
                position: absolute;
                z-index: 2;
                right: 50px;
                font-size: 20px;
                color: green !important;
                top:-8px !important;
                .icon-mobile{
                    display: block !important;
                }
            }
        }
    }
    .service {
        padding: 10px 0 10px 0;
        .title{
            font-size: 23px;
        }
        .s-content{
            p{
                font-size: 14px !important;
            }
        }
        .box{
            .title{
                font-size: 20px;
            }
            .item{
                margin-top: 20px;
                .c-text{
                    p{
                        font-size: 16px;
                    }
                }
                .time{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .breadcrumb{
        display: none;
    }
}
//destop
header {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 0 40px 0;
    .item {
        padding-left: 200px;
        .logo {
            img {
                max-width: 181px;
                max-height: 69px;
                margin-bottom: 52px;
                display: block;
            }
        }
    }
    .nav {
        background-image: url("../images/Component4.png");
        background-size: cover;
        background-repeat: no-repeat;
        
        img{
            position: absolute;
            right: 0;
            bottom: -40px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        ul {
            padding: 20px 0px 0px 80px;
            li {
                display: inline-block;
                a {
                    padding: 5px 10px;
                    display: block;
                    color: white;
                    &::after {
                        display: block;
                        content: "";
                        width: 0%;
                        left: 100px;
                        right: 100px;
                        border-bottom: 1px solid #ffffff;
                        transition: 0.3s;
                        height: 2px;
                        margin: auto;
                    }
                    &:hover::after {
                        width: 100%;
                        transform: 0.3s;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .search {
            color: white;
            margin: 25px 0px 0px 30px;
            .icon-mobile {
                display: none;
            }
        }
    }
}
.breadcrumb{
    background: #ffffff;
    padding-left: 0;
    li {
        a {
            color: #000;
            transition: 0.3s;
            &:hover{
                text-decoration: none;
                transition: 0.3s;
                color: green;
            }
        }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
}
.service{
    .c-img{
        width: 100%;
        overflow: hidden;
        display: block;
        max-height: 685px;
        img{
            width: 100%;
            overflow: hidden;
            display: block;
            max-height: 685px;
        }
    }
    .box{
        .item{
            .c-img{
                .img{
                    width: 100%;
                    overflow: hidden;
                    display: block;
                    max-height: 94px;
                    object-fit: cover;
                    img{
                        width: 100%;
                        overflow: hidden;
                        display: block;
                        max-height: 94px;
                        object-fit: cover;
                    }
                }
            }
            .c-text{
                padding: 2px;
                p{
                    a{
                        color: #252525;
                        transition: 0.3s;
                        &:hover{
                            text-decoration: none;
                            color: orangered;
                            transition: 0.3s;
                        }
                    }
                }
                .time{
                    justify-content: space-between;
                }
            }
        }
        .c-img{
            width: 100%;
            display: block;
            overflow: hidden;
            margin-top: 9px;
            img{
                width: 100%;
                display: block;
                overflow: hidden;
            }
        }
    }
    .s-content{
        p{
            text-align: justify;
            font-size: 17px;
            line-height: 26px;
        }
    }
}